<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss} %level --- [%logger~%M:%line] : %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.ebs" level="${env:LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Spring Security Logging -->
        <Logger name="org.springframework.security" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Hibernate SQL logging -->
        <Logger name="org.hibernate.SQL" level="${env:LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Hibernate parameter logging -->
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
